@font-face {
    font-family: 'SukhumvitThin';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SukhumvitSet-Thin.ttf');
}

@font-face {
    font-family: 'SukhumvitReg';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts//SukhumvitSet-Text.ttf');
}

@font-face {
    font-family: 'SukhumvitBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts//SukhumvitSet-Bold.ttf');
}
