@font-face {
    font-family: 'SukhumvitThin';
    src: url('../fonts/SukhumvitSet-Thin.ttf');
}

@font-face {
    font-family: 'SukhumvitReg';
    src: url('../fonts/SukhumvitSet-Text.ttf');
}

@font-face {
    font-family: 'SukhumvitBold';
    src: url('../fonts/SukhumvitSet-Bold.ttf');
}
